[project]
	description = this is a docker automate building
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/刘畅 (liuchang23)
[access "refs/for/refs/*"]
	read = group user/刘畅 (liuchang23)
	push = group user/刘畅 (liuchang23)
	label-Code-Review = -2..+2 group user/刘畅 (liuchang23)
	label-Verified = -1..+1 group user/刘畅 (liuchang23)
	rebase = group user/刘畅 (liuchang23)
	removeReviewer = group user/刘畅 (liuchang23)
	submit = group user/刘畅 (liuchang23)
[access "refs/heads/*"]
	read = group user/刘畅 (liuchang23)
	create = group user/刘畅 (liuchang23)
	push = +force group user/刘畅 (liuchang23)
	pushMerge = group user/刘畅 (liuchang23)
[access "refs/tags/*"]
	push = +force group user/刘畅 (liuchang23)
	pushTag = group user/刘畅 (liuchang23)
	pushSignedTag = group user/刘畅 (liuchang23)
